name: pre-commit

on:
  pull_request:
  push:
    branches: [main]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14.3"
      - name: Install pipx
        run: python -m pip install --user pipx
      - name: Install pre-commit with pipx
        run: pipx install pre-commit

      - name: Run pre-commit
        run: pre-commit run --all-files
        continue-on-error: true # Continue even if pre-commit fails

      # Commit all changed files back to the repository
      - uses: stefanzweifel/git-auto-commit-action@v7
